@model IS220M11.Models.picpostModel
@{
    ViewData["Title"] = "Detail";
}
    
    <section class="py-5" style="margin-top: 4rem;">

        <div class="container px-4 px-lg-5 my-5" style="margin-left: 10%;">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">Fancy Product</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">$45.00</span>
                        <span>$40.00</span>
                    </div>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Interest
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recommeded Section-->
    <h2 style="margin-left: 14%;">Related items</h2>
    <section class="page-section py-5">
        <!-- Flickity HTML init -->
        <div class="gallery js-flickity" style="margin-left: 10%;margin-right: 10%;">
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 230% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 210% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\2.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px; right: 190% !important;">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\3.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            <!-- Product price-->
                            $50.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 170% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\4.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 150% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\5.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 130% !important;">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\6.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            <!-- Product price-->
                            $30.00 - $50.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell" >
                <div class="card h-460px" style="width: 200px;height: 300px; right: 110% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\7.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 90% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\8.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-cell">
                <div class="card h-460px" style="width: 200px;height: 300px; right: 70% !important;">
                    <!-- Product image-->
                    <img class="card-img-top" src="public\assets\product\9.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="post.html" class="fw-bolder h-60px h5" style="color: #444;">Fancy Product</a>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Details</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chatbox Section-->
    <section class="mb-5" style="margin: 2% 14%;">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4">
                    <div class="row">
                        <textarea class="form-control" rows="2" style="width: 85%;margin-left: 2%;" placeholder="Join the discussion and leave a comment!"></textarea>
                        <div class="col" style="padding-left: 2%;">
                            <textarea class="form-control" rows="1"  title="Here insert a price you'd like to pay!" placeholder="Price"></textarea>
                            <a href="javascript:void(0)" class="btn btn-primary" style="margin-top: 3%; width: 98%;" ><i class="fas fa-paper-plane"></i></a>
                        </div>
                    </div>
                </form>
                <!-- Comment with nested comments-->
                <div class="d-flex mb-4" style="margin: 0% 2%;">
                    <!-- Parent comment-->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        
                        <a class="fw-bold" style="margin-left: 1%;">Nhox2k:</a>
                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                        <!-- Child comment 1-->
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                
                                <a class="fw-bold" style="margin-left: 1%;">PeNhiLovely:</a>
                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                            </div>
                        </div>
                        <!-- Child comment 2-->
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <a class="fw-bold" style="margin-left: 1%;">HungCa:</a>
                                When you put money directly to a problem, it makes a good headline.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single comment-->
                <div class="d-flex">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <a class="fw-bold" style="margin-left: 1%;">LangTuMuaDong1986:</a>
                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                    </div>
                </div>
            </div>
        </div>
    </section>