@model IS220M11.Models.accountModel
@{
    ViewData["Title"] = "Create";
}

@{var usn = @ViewData["username"];}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FindnFound</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/public/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/flickity.css" media="screen">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</head>
<body style=" background: url('/public/assets/img/test.png') no-repeat center center fixed; background-size: cover">
    <!-- Navigation-->
    <!-- Masthead header-->
    <!-- Music Section-->

    <div class="masthead text-white text-center">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top " id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Home")"><img src="~/public/assets/img/pagetop.png" alt="logo" title="Logo"></a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class=" collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a href="@Url.Action("Index", "Home")" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Home</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#donate">Donate</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a href="@Url.Action("Login", "account")" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="page-section py-5" style="margin-top: 5rem;">
        <div class="x_panel" style="margin-left: 30%;">
            <div class="x_title" style="margin-left: 7%;">
                <h2>Edit your information:</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form data-parsley-validate class="form-horizontal form-label-left" method="POST" asp-action="CreateInfo" asp-controller="account" enctype="multipart/form-data">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="UName">
                            UName <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" required="required" class="form-control" asp-for="UName">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="UPass">
                            UPass <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" required="required" class="form-control" asp-for="UPass">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="UEmail">
                            Email adress <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" required="required" class="form-control" asp-for="UEmail">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="UPhone">
                            Phone number <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" required="required" class="form-control" asp-for="UPhone">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="CoverPhoto">
                            Avatar
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="file" class="form-control" asp-for="CoverPhoto">
                        </div>
                    </div>

                    <div class="item form-group" style="margin-left: 30px;">
                        <div>
                            <button class="btn btn-primary" type="submit">Thêm</button>
                            <button class="btn btn-primary" type="reset">Reset</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

</body>
</html>