<br>
<br>

<h1 style="font-weight: bolder;font-family: 'Nanum Gothic', sans-serif;color: #a88a64;font-size: 35pt;">Login</h1>

<form style="margin-left:30%;margin-right:10%;margin-bottom:10%;" enctype="multipart/form-data" asp-action="Login" method="post">
    <div class="container">
        <input class="textbox" style="height: 45px;width: 60%;" type="text" placeholder="Enter username" name="username">
        <input class="textbox" style="height: 45px;width: 60%;" type="password" id="myInput" placeholder="Enter password" name="pass">
@*        <p style="color: #886c48;"><input type="checkbox"> Show Password</p>*@
        <!-- Fake button -->
        <button class="btn btn-primary" style="height: 45px;width: 60%" type="submit">Login</button>
        
        <!-- Real button -->
        <!-- <button href="" style="height: 45px;width: 60%;" type="submit" name="btnLogin" class="btn btn-primary">Login</button> -->
        <p>
            <a href="Login/ForgotPassword">Forgot Password ?</a>
            <a href="Login/Register">Sign up</a>
        </p>


    </div>
</form>