/* @charset "UTF-8";
/* 
*{
    padding: 0;
    margin: content;
    box-sizing: border-box;
    text-align: center;
}

body {
  
    margin: 0;
    text-align: left;
    background-color: #f5f1e3; 
    font-family: sans-serif;
    background-position: center;
    background-size: cover;
    padding: 0;
  }

.form-group{
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}.form-title{
  margin-bottom: 20px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  /* text-align: center;
  color: black;
  font-size:  40px;
  text-transform:  uppercase;
  margin-bottom:  30px;
  display: inline-block;
  margin: 0;
  padding: 0 0 20px; 
} 

.input-login{
  margin: 25px 0;
  padding: 5px 0;
  text-align: center;
}
.i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-bottom: 5px;
}
.input-login > div{
  position: relative;
  height: 45px;
}
.input-login > span{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}


input{
  width: 30%;
  height:  100%;
  outline: none;
  font-size:  30px;
  font-family: sans-serif;
  border-radius: 20px;
  margin-bottom: 20px;

}
input[type="text"], input[type="password"]{
  border: none;
  border-bottom:  2px solid black;
  background: #f0d7c9 ; 
  height: 40px;
}
p{
  font-size: 30px;
  width: 100%;
  text-align:  center;
  justify-content: center;
}
a{
  display: block;
  text-align: center;
  text-decoration: none ;
  font-size:  30px;
  transition: .3s;
  color: black;
}
a:hover{
  color: #eb7f40;
} */



/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a88a64;

    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f0d7c9;
    outline: none;
    font-family: 'Nanum Gothic', sans-serif; 
    color: #a88a64; 
    
} 

/* Set a style for all buttons */
button {
    background-color: #eb7f40;
    color: black;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    /* font-size: 20px; */
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
} 

.form-group {
    padding: 10px;
}

label {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif; 
    color: #a88a64"
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    transition: .2s;
    color: black;
    font-size: 1rem;
    margin-right: 30px;
}

a:hover {
    color: #eb7f40;
    text-decoration: none;
}