table{
    width: 800px;
    border-spacing: 1px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    color: #fff;
   text-align: center;
   background-color: #d0b28b;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;}
  tr.head th {
   color: #fff;
   background-color: #A88A64;
   border-bottom: 1px solid;
   border-right: 1px solid ;
   border-top: 1px solid;
   margin-bottom: 1px;
   text-align: center;
   text-shadow: -1px -1px 1px #666666;
   letter-spacing: 0.15em;}
  tr:hover{
   background-color: #cbd2d8 ;
  }
  td {
   text-shadow: 1px 1px 1px #ffffff;}
  tr.head th:first-child {
   -webkit-border-top-left-radius: 5px;
   -moz-border-radius-topleft: 5px;
   border-top-left-radius: 5px;}
  tr.head th:last-child {
   -webkit-border-top-right-radius: 5px;
   -moz-border-radius-top-right: 5px;
   border-top-right-radius: 5px;
  }
  /* button css */
  .button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}